.app {
  width: 100dvw;
}

.content {
  margin: 5dvh 8dvw 3dvh 8dvw;
  height: 75dvh;
  overflow: scroll;
}

.user {
  text-align: right;
}

.bot {
  max-width: 60dvw;
}

.input-area {
  margin-left: 8dvw;
}

.text {
  height: 1.3rem;
  width: 78.5dvw;
}

.btn {
  height: 1.8rem;
  margin-left: 0.5rem;
}
